.main-board {
  width: 100vw;
  height: 100vh;
  background: #111111;
}

.board-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.board-grid {
  display: grid;

  justify-content: flex-start;
  align-content: flex-start;

  flex-shrink: 0;

  overflow: hidden;

  background: #111111;

  box-sizing: border-box;
}

.board-cell {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  box-sizing: border-box;

  background: #111111;

  border: 4px solid #3f3f46;

  color: white;

  outline: none;

  text-align: center;
  text-transform: uppercase;

  font-size: 32px;
  font-weight: bold;

  caret-color: white;
}

.board-cell:focus {
  border-color: #8b8b8b;
}

.board-sidebar {
  flex: 1;

  background-color: #242e3d;

  border-left: 2px solid #4b5563;

  color: white;

  display: flex;
  justify-content: center;

  padding-top: 20px;

  font-size: 18px;
  font-weight: bold;

  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.highlighted-cell {
  background-color: #facc15;
  color: #111111;
}

.score-list{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.score-row{
  display: flex;
  justify-content: space-between;
  width: 100%;
}